
.Main_containerr
{
    background-color: #922929;
    max-width: 1920px;
    height: 100vh;
    position: relative;
    
}
.Main_containerr .image 
{
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}
.Detailed_desc
{
    width: 1147px;
    height: 520px;
    position: absolute;
    top: 237px;
    background-color: red;
    z-index: 2;
}
.Down-shadow
 {
    width: 100%;
    height: 450px;
    background-image: linear-gradient(180deg, rgba(0, 0, 0, 0) 50%,rgba(0, 0, 0, 0.4787) 68%,rgba(0, 0, 0, 1) 100%);
    position: absolute;
    z-index: 2;
    top: 470px;
 }